@charset "UTF-8";




#wrapper #sign_form {
    /* display: flex; */
    width: 500px;
    text-align: center;
}
/* 
#wrapper #sign_form #sign_state #customer_state,#owner_state {
    background-color: rgb(172, 172, 172);
    border: 0;
}

#wrapper #sign_form #sign_state #customer_state,#owner_state:active {
    background-color: rgb(197, 49, 49);
    border: 0;
} */