@charset "UTF-8";

h2{
    text-align: center;
}
table {
    width: 100%;
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    border-top: 1px solid grey;
}
.ownBtn {
    background-color: yellow;
}