@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|ZCOOL+QingKe+HuangYou');

*{
    margin: 0px;
    padding: 0px;
    color:#000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.fn-font {
	font-family: 'Noto Sans KR', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    outline: none;
}

html{
    width: 1220px;
    margin: 0 auto;
}

/*                    헤더                     */
header{
    width:80%;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > .lo-img{
    margin-left: 20px; /* 왼쪽에서 20 만큼 떨어짐 */
    
}

.lo-img{
    height:120px;
}

.lo-img > img {
    width:100%;
    height:100%;
    object-fit: cover;
}

header > nav{
    width:230px;
    height: 10px;
}

header ul{
    width: 100%;
    height: 100%;
    display: flex;      /* display: flex -> 각각의 메뉴가 동일한 간격으로 떨어짐*/
    justify-content: space-between;
}

header ul> li{
    font-size: 17px;
    height:100%;
    display: flex;
    align-items: center;
}


/* GNB   */
.gnb>li{
    float: left;
    
}

.gnb> li ul{display: none;}


/* :hover -> 마우스 올렸을때 css관리 해줌
    상태를 나타냄. 선택자 뒤에 붙음  */
.gnb>li:hover .sss{
    position:absolute;      /* 공중에 나타나게*/
    background-color: rgba(189, 186, 186, 0.411);
    line-height: 30px;
    display: block;
}


/* visual*/
#visual{
    /* liner-gradient: 지정된 색사이를 일정한 간격으로 변화시키는 색으로 채워주는 도구*/
    background-image:  url(/image/home.jpg); /*이미지를 배경으로 설정하는 값*/
	/* background-color: rgba(234, 183, 254, 0.571); */
    background-size: cover;
	background-position: 0% 20%;
	width:100%;
	height:300px;

    display: flex;          /* 자식들은 무조건 부모의 아래의 일렬로 배치*/
    justify-content: center;
    align-items: center;
    flex-direction: column;     /*열단위로 변경, 세로로 늘어섬*/
}
#visual *{
    color:white;
}

#visual h2{
    font-size: 60px;
}

#visual p{
    margin: 30px 0;
}

.btn{
	width:120px;
	padding: 8px 12px;
	border:3px solid #ddd;
	background-color: #70aa96;
	border-radius: 4px;
}

.btn:hover {
	background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.section-title {
    color:#35495e;
}

section {
    margin-top:60px;
}


/*----------------------------*/
.container>.section-title{
    text-align: center;
}

/*----------------------------*/
/* .attraction-list {
    margin-top:20px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows:minmax(350px, auto);
    grid-column-gap: 40px;
} */

.attraction-list{
    display: flex;
    flex-wrap: wrap;
}

.attraction-item{
    border-radius: 8px;             /* 테두리 둥글게 */
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.a-image{
    height:250px;
    background: #eee;
}


.a-image > img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.a-info {
    padding:12px;
    line-height: 1.5;
}

.a-info > .a-name {
    color:#222;
    font-size:18px;
}

.a-info > .a-per {
    color:rgb(219, 36, 36);
    font-size:16px;
    margin-bottom:15px;
}

.a-info > .a-price {
    color:#777;
    font-size:15px;
    margin-bottom:15px;
}

.a-info > .a-grade {
    color:#777;
    font-size:14px;
    display:flex;
    justify-content: space-between;
}

/* .a-info > .a-grade .fa {
    font-size:12px;
} */

/* .a-info > .a-grade .checked {
    color:orange;
}
 */

/* .prev_btn .ico_btn{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: -128px -345px;
    background-repeat: no-repeat;
    vertical-align: top;
}


.next_btn .ico_btn{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: -86px -345px;
    background-repeat: no-repeat;
    vertical-align: top;
} */