@charset "UTF-8";

* {
    outline: 1px solid rosybrown;
}

/* article */
/* article {
    display: flex;
} */
/* .main, dt, dl {
    margin: 0;
    padding: 0;
} */
.main {
    width: 1100px;
}

.product {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-img {
    width: 350px;
    height: 400px;
    background: url("https://cdn.pixabay.com/photo/2016/04/14/17/01/soup-1329266__340.jpg") 50% 0%;
    object-fit: cover;
}

.product-info {
    width: 560px;
}

dl {
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-top: 1px solid rgb(244, 244, 244);
    font-size: 14px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

dl>dt {
    position: relative;
    top: 1px;
    width: 128px;
    height: 100%;
    line-height: 19px;
}

.product_buy>.buy_btn {
    width: 432px;
    height: 45px;
    background-color: var(--main-color-yel);
    border: 0;
    border-radius: 8px;
}

/* nav */
.tab-nab {
    display: flex;
    height: 40px;
    margin-top: 50px;
}

.tab-nab>.nav_tab {
    width: 100px;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 226, 230, 0.877);
}

/* 지도 */
#map {
    width: 800px;
    height: 600px;
}

/* 버튼 */