@charset "UTF-8";

/* * {outline: 1px solid black;} */

  /* main */
.main {
  display:block;
  margin: auto;
  padding: 1rem 0px 1.5rem;
}

.main > .title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin : 20px 0px;
  width: 100%;
}

/* main 업종 카테고리 */
.main > .food-type{
  display: flex;
  flex-direction: column;
}

.food-type > ul{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 30px;
}

.food-type > ul > li{
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  outline: 1px solid gray;
  margin-right: 15px;
}

.food-type > ul > #food-type_selected {
  background-color: pink;
}

.food-type> ul > li:hover {
  background-color: rgba(226, 226, 183, 0.267);
}
/* //main 업종 카테고리 */

/* main 리스트들 */
.main > .items {
  display : flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

.main > .items > .item {
  display : flex;
  flex-direction: column;
  width: 260px;
  /* margin : 0px 16px 16px 0; */
  overflow: hidden;
  border-radius: 8px;
  font-size: 16px;
}

.main > .items > .item:hover {
  display : flex;
  flex-direction: column;
  width: 260px;
  /* margin : 10px 15px; */
  /* overflow: hidden; */
  border-radius: 8px;            
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.664);
}

.main > .items > .item > .item__image > img {
  width: 100%;
  height:250px;
}

.main > .items > .item > .item__title {
  text-align: center;
}

.main > .items > .item > .item__price-box {
  display : flex;
  justify-content: center;
}

.main > .items > .item > .item__price-box > .item__discount-rate {
  color:red;
  margin-right: 10px;
}

.main > .items > .item > .item__time-box {
  display : flex;
  justify-content: center;
}

.main > .items > .item > .item__time-box > .item__magam {
  margin-right: 10px;
}

.main > .items > .item > .item__time-box > .item__time {
  color : rgb(241, 196, 15);
}
